.login-form {
  min-width: 300px;
  padding: 70px 20px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.3);
  background-color: #fff;
}

.login-form-control {
  margin-bottom: 30px;
}

.login-form-submit {
  min-width: 100px;
}

.login-form-loader {
  margin-left: 10px;
}